@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 60px;
    background-color: white;
    justify-content: center;
}

.logo {
    height: 40px;
    margin-left: 10%;
   /* border: 1px solid white;*/
    align-self: center;
}
.Namelogo {
    flex: 20%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: blueviolet;
    border: 1px solid white;
    text-align: center;
}

.Namelogo h1 {
    font-family: 'Lobster', cursive;
}
.menu {
    flex: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    /*border: 1px solid white;*/
    text-align: right;
    padding: 20px;
}
.menu a:hover {
    color: purple;
    text-decoration: underline;
    border-top: 4px solid purple;
}
#botao {
    padding: 8px 16px;
    background-color: purple;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 5%;
}
#botao:hover {
    background-color: blueviolet;
    border-top: none;
}
.hero {
    background-image: url('https://example.com/hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 20px;
}
.produto img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}
body { font-family: Arial; margin:0; }
.navbar { background:#d2691e; color:#fff; padding:10px; display:flex; justify-content:space-between; }
.container { display:flex; padding:20px; gap:20px; }
.produto, .carrinho, .checkout, .login { border:1px solid #ddd; padding:15px; border-radius:8px; }
button, a.finalizar { background:#d2691e; color:#fff; padding:8px; border:none; border-radius:5px; cursor:pointer; text-decoration:none; }
input { width:60px; margin-bottom:10px; }

/* mobile */
@media(max-width:768px){
.container { flex-direction:column; }
}

